.auth-page {
  display: flex;
  min-height: 100vh;
}

.auth-image {
  flex: 1;
  background-image: url("../assets/login&signup.jpg"); /* Update the path to your image */
  background-size: cover;
  background-position: center;
}

.auth-form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 400px;
  width: 100%;
  text-align: center;
}
